@font-face {
  font-family: "iconfont"; /* Project id 5077148 */
  src: url('iconfont.woff2?t=1764512042802') format('woff2'),
       url('iconfont.woff?t=1764512042802') format('woff'),
       url('iconfont.ttf?t=1764512042802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e60d";
}

.icon-remen:before {
  content: "\e65e";
}

.icon-bofanggedan:before {
  content: "\e6be";
}

.icon-wangyiyunyinle:before {
  content: "\e604";
}

.icon-wangyi:before {
  content: "\e668";
}

.icon-wangyiyunyinle-copy:before {
  content: "\e603";
}

